.container{
  padding: 20px;
  border: 2px solid darkblue;
  background-color:blue;
  width: 500px;
  height: 400px;
  justify-content: center;
}
.containerName{
  font-weight: bold;

color: white;
  text-align: center;
}
.Box{
  height: 40px;
  width: 150px;
  padding: 10px;
  text-align: center;
  padding: auto;
  margin: 200px;
  margin-top: 50px;
  border: 2px solid black;
  background-color: orangered;
  font-weight: bolder;
  color: bisque;
}

.App{
  justify-content: center;
}

